@font-face {
  font-family: Font;
  src: url("../assets/fonts/SF-Pro-Rounded-Medium.otf");
}

@font-face {
  font-family: Font;
  src: url("../assets/fonts/SF-Pro-Rounded-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Font;
  text-decoration: none;
  letter-spacing: 0.01em;
}

.radix-themes{
  --default-font-family:Font;
  --heading-font-family: Font;
  --code-font-family:Font;
  --strong-font-family:Font;
  --em-font-family:Font;
  --quote-font-family:Font;
}

body {
   -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#drag-region {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: grab;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

button{
  appearance:none;
  background:none;
  border:none;
  cursor:pointer;
}