@import "tailwindcss";
@plugin "@toolwind/corner-shape";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@font-face {
  font-family: Font;
  src: url("../assets/fonts/onest.ttf");
}

@theme {
  --font-display: Font;
}

body {
  @apply font-display bg-neutral-100 text-neutral-950 dark:bg-black select-none dark:text-neutral-200 corner-squircle;
}

#drag-region {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: grab;
}

::-webkit-scrollbar {
  width: 0;
  background: none;
}

button {
  @apply items-center justify-center cursor-pointer appearance-none outline-none active:scale-[0.97];
}

div {
  @apply outline-none
}

.root {
  isolation: isolate;
}
